[Unit]
Description=Wan Tester
After=network.target

[Service]
User=wan-admin
Group=staff
PIDFile = /var/wan-tester/wan-tester.pid
WorkingDirectory=/var/wan-tester
#Environment="PATH=/var/wan-tester"
ExecStart=/usr/bin/gunicorn3 -b 127.0.0.1:6000 app:app --pid /var/wan-tester/wan-tester.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
#Restart=always
#RestartSec=3
PrivateTmp=true

[Install]
WantedBy=multi-user.target
